body {
    background-color: #323232;
    font-family: "Centure Cothic", Arial, sans-serif;
    font-size: 1.2em;
    color: #f2f2f2;
    margin: none;
}


img {
    margin-right: 10px;
    border: solid 2px transparent;
}
img:hover {
    cursor: pointer;
    border: solid 2px white;
}