body {
    font-family: "Century Gothic", arial, sans-serif;
    background-color: cornflowerblue;
    margin: none;
}

div {
    width: 200px;
    height: 200px;
    background-color: red;
    margin: 100px auto;
}

canvas {
    display: block;
    margin: 0 auto;
    background-color: white;
}