body {
    background-image: url(../bilder/snake.jpg);
    background-size: 100%;
    background-position-y: 60%;
}

.box {
    width: 30px;
    height: 30px;
    background-color: green;
    position: relative;
}

.map {
    margin: auto;
    width: 600px;
    height: 400px;
    background-color: lightgray;
    border: 4px solid gray;
}